body {
}

  .standardNameValuePairTable {
        border-collapse: collapse; 
        border-spacing: 0;  
    }
  .standardNamePairCell {
      font-weight: bold;
      background-color: skyblue;
      padding: 5px;
  }

  .standardValuePairCell {
      color: blue;
      background-color: lightgray;
      padding: 5px;
  }
