body {
}

   .standardLabelPhone {
       width: 100%;
       color: white;
       font-size: 16px;
       font-weight: bold;
       padding: 5px;
   }

   .standardLabelTablet {
       width: 100%;
       color: white;
       font-size: 16px;
       font-weight: bold;
       padding: 5px;
   }

   .standardLabelDesktop {
       width: 100%;
       color: white;
       font-size: 16px;
       font-weight: bold;
       padding: 5px;
   }

    .standardSelectPhone {
        width: 100%;
        background-color: #002f5f;
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }

    .standardSelectTablet {
        width: 100%;
        background-color: #002f5f;
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }

    .standardSelectDesktop {
        width: 100%;
        background-color: #002f5f;
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin: 0px;
        padding: 0px;
    }

    .standardOptionPhone {
        background-color: White;  
        color: #002f5f;
        font-weight: normal;
    }

    .standardOptionTablet {
        background-color: White;  
        color: #002f5f;
        font-weight: normal;
    }

    .standardOptionDesktop {
        background-color: White;  
        color: #002f5f;
        font-weight: normal;
    }

    .standardNameValuePairTablePhone {
       border-collapse: collapse; 
       border-spacing: 0;
       width: 100%;
       height: 100%;
    }

    .standardNameValuePairTableTablet {
        border-collapse: collapse; 
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }

    .standardNameValuePairTableDesktop {
        border-collapse: collapse; 
        border-spacing: 0;
        width: 100%;
        height: 100%;
    }

  .standardNamePairCellPhone {
      font-weight: bold;
      color: white;
      background-color: #002f5f;
      padding: 5px;
  }

  .standardNamePairCellTablet {
      font-weight: bold;
      color: white;
      background-color: #002f5f;
      padding: 5px;
  }

  .standardNamePairCellDesktop {
      font-weight: bold;
      color: white;
      background-color: #002f5f;
      padding: 5px;
  }

  .standardValuePairCellPhone {
      color: #002f5f;
      background-color: white;
      padding: 5px;
  }

  .standardValuePairCellTablet {
      color: #002f5f;
      background-color: white;
      padding: 5px;
  }

    .standardValuePairCellDesktop {
      color: #002f5f;
      background-color: white;
      padding: 5px;
  }

  .standardPanelContainerCellPhone {
      background-color: white;
      border:5px solid white;
  }

  .standardPanelContainerCellTablet {
      background-color: white;
      border:5px solid white;
  }

  .standardPanelContainerCellDesktop {
      background-color: white;
      border:5px solid white;
  }

  .standardPanelContentCellPhone {
      font-size: 12px;
      background-color: #002f5f;
      border:5px solid #002f5f;
      opacity: 0.7;
  }

  .standardPanelContentCellTablet {
      font-size: 12px;
      background-color: #002f5f;
      border:5px solid #002f5f;
      opacity: 0.7;
  }

  .standardPanelContentCellDesktop {
      font-size: 12px;
      background-color: #002f5f;
      border:5px solid #002f5f;
      opacity: 0.7;
  }


  .standardPanelTitleCellPhone {
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      background-color: #002f5f;
      font-weight: bold;
      padding: 10px;
      border:2px solid white;
      border-radius: 5px;
  }

  .standardPanelTitleCellTablet {
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      background-color: #002f5f;
      font-weight: bold;
      padding: 10px;
      border:2px solid white;
      border-radius: 5px;
  }

  .standardPanelTitleCellDesktop {
      font-size: 16px;
      text-transform: uppercase;
      color: White;
      background-color: #002f5f;
      font-weight: bold;
      padding: 10px;
      border:2px solid white;
      border-radius: 5px;
  }









